<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {% block css %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/padrao.css"/>{% endblock %}
    <title>{% block title %}Easy News{% endblock %}</title>
</head>
<body>
<div id="pageBody">
	<div id="header">
		
		<div class="row">		
			<div>Easy News - Gerenciamento facil de noticias, Escrito em Python por Gabriel Novaes</div>
			<div>{% block searchbox %}{% endblock %}</div>
		</div>
		
		<div id="topBar">
		    	{% block topbar %}
		    	<ul>
		        	<li><a href="/">Home</a></li>
		        	<li><a href="/noticias/">Noticias</a></li>
		    	</ul>
		    	{% endblock %}
   	 	</div>
		
	</div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    
    {% include 'footer.html' %}
</div>
</body>
</html>
